<footer class="site-footer">
  <div class="wrap">
    <div class="footer-col-1 column">
      <ul>
        <li>{{ site.title }}</li>
        {% if site.owner.email %}<li><a href="mailto:{{ site.owner.email }}">{{ site.owner.email }}</a></li>{% endif %}
      </ul>
    </div>
    <div class="footer-col-2 column">
      <ul>
        {% if site.owner.github %}<li><a href="https://github.com/{{ site.owner.github }}">GitHub</a></li>{% endif %}
        {% if site.owner.linkedin %}<li><a href="{{ site.owner.linkedin }}">LinkedIn</a></li>{% endif %}
        {% if site.owner.facebook %}<li><a href="https://facebook.com/{{ site.owner.facebook }}">Facebook</a></li>{% endif %}
      </ul>
    </div>
    <div class="footer-col-3 column">
      <p class="text">{{ site.description | strip_html }}</p>
    </div>
  </div>
</footer>